<!DOCTYPE html>
<html>
<head>
<title>What's Happening Tonight!</title>
</head>
<body>

<p> "far out" </p>

<form>
  <input type="checkbox" id="1" name="1" value="Mohawk">
  <label for="1"> Mohawk </label><br>
  <input type="checkbox" id="2" name="2" value="Parish">
  <label for="2"> Parish </label><br>
  <input type="checkbox" id="3" name="3" value="Friends">
  <label for="3"> Friends </label>
  <input type="submit" value="Submit">
</form>

<form>
  <input type="checkbox" id="1" name="1" value="Mohawk">
  <label for="1"> Mohawk </label><br>
  <input type="checkbox" id="2" name="2" value="Parish">
  <label for="2"> Parish </label><br>
  <input type="checkbox" id="3" name="3" value="Friends">
  <label for="3"> Friends </label>
  <input type="submit" value="Submit">
</form>

<form>
  <label for="fname">Month:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Date:</label><br>
  <input type="text" id="lname" name="lname">
</form>


</body>
</html>